<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Register", "Index", "Home", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Log in", "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
</ul>